DJANGO_DEBUG=True
EMAIL_USE_SMTP=True
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=skplcthhykqscmia
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=your_email@gmail.com
GEMINI_API_KEY=AIzaSyDoQ8vdvIXTwo5aXjuTjuFgachxRuhCvig
GEMINI_VISION_MODEL=gemini-2.5-flash


